/* Common styles */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('./reset.css');

/* Your custom styles */
body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  flex-direction: column;
  /* margin-top: 24px; */
  /* margin-bottom: 24px; */
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1128px;
  row-gap: 20px;
  column-gap: 24px;
}
.gallery-item {
  list-style: none;
  display: inline-block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.gallery-item:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.gallery-image {
  width: 100%;
  max-width: 360px;
  height: auto;
}
